<!DOCTYPE html>
<html>
<head>
	<title>Control Madicine</title>
</head>
<body>
	<div>
			<h2>Control Madicine</h2> 		
	</div>

	
	<!-- <a href="/logout">Logout</a><br> -->

	<table border="1">
		<tr>
			<td>NAME</td>
			<td>Catagory</td>
			<td>Sub Catagory</td>
			<td>Vendor</td>
			<td>Price</td>
			<td>Quantity</td>
			<td>Action</td>
		</tr>
	<% for(var i=0; i < userlist.length; i++){ %>
		<tr>
			<td><%= userlist[i].name %></td>
			<td><%= userlist[i].catagory %></td>
			<td><%= userlist[i].subcatagory %></td>
			<td><%= userlist[i].vname %></td>
			<td><%= userlist[i].price %></td>
			<td><%= userlist[i].quantity %></td>
			
			<td>
				<a href="/admin/editMadicine/<%= userlist[i].id %>">EDIT</a> | 
				<a href="/admin/deleteMadicine/<%= userlist[i].id %>">DELETE</a> 
			</td>
		</tr>
	<%  } %>
	</table>
	<a href="/admin/home">Back</a>

</body>
</html>